@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="wrapper">
    <section class="login-content">
        <div class="container">
            <div class="row align-items-ceter justify-content-center height-self-center">
                <div class="col-lg-8">
                    <div class="card auth-card">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center auth-content">
                                <div class="col-lg-7 align-self-center">
                                    <div class="p-3">
                                        <h2 class="mb-2">Sign Up</h2>
                                        <p>Create your Nafath account.</p>
                                        <form id="registerForm"
                                              asp-route-returnUrl="@Model.ReturnUrl"
                                              method="post">
                                            @* anti-forgery token is emitted automatically *@
                                            <div asp-validation-summary="ModelOnly"
                                                 class="text-danger"
                                                 role="alert">
                                            </div>

                                            <div class="row">
                                                <!-- Full Name -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.FullName"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.FullName"></label>
                                                        <span asp-validation-for="Input.FullName"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Last Name -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.LastName"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.LastName"></label>
                                                        <span asp-validation-for="Input.LastName"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Email -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.Email"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.Email"></label>
                                                        <span asp-validation-for="Input.Email"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Phone Number -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.PhoneNumber"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.PhoneNumber"></label>
                                                        <span asp-validation-for="Input.PhoneNumber"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Password -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.Password"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.Password"></label>
                                                        <span asp-validation-for="Input.Password"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Confirm Password -->
                                                <div class="col-lg-6">
                                                    <div class="floating-label form-group">
                                                        <input asp-for="Input.ConfirmPassword"
                                                               class="floating-input form-control"
                                                               placeholder=" " />
                                                        <label asp-for="Input.ConfirmPassword"></label>
                                                        <span asp-validation-for="Input.ConfirmPassword"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <!-- Accept Terms -->
                                                <div class="col-lg-12">
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input asp-for="Input.AcceptTerms"
                                                               class="custom-control-input"
                                                               id="acceptTerms" />
                                                        <label asp-for="Input.AcceptTerms"
                                                               class="custom-control-label"
                                                               for="acceptTerms">
                                                        </label>
                                                        <span asp-validation-for="Input.AcceptTerms"
                                                              class="text-danger"></span>


                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Sign Up</button>
                                            <p class="mt-3">
                                                Already have an Account?
                                                <a asp-page="/Account/Login"
                                                   asp-route-returnUrl="@Model.ReturnUrl"
                                                   class="text-primary">
                                                    Sign In
                                                </a>
                                            </p>
                                        </form>

                                    </div>
                                </div>
                                <div class="col-lg-5 content-right">
                                    <img src="~/Nafas/assets/images/login/01.png" class="img-fluid image-right" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
