@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notifications" />


<!-- Start Hero Section -->
<div lang="ar" dir="rtl" class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>شركة نفاذ لتوريد وبيع وصيانة الأثاث المكتبي</h1>
					<p class="mb-4">
						هل تبحث عن أثاث مكتبي عالي الجودة لبيئة عمل مريحة ومنظمة؟<br><br>

						شركة نفاذ تقدم لك الحلول المثالية لتوريد وبيع وصيانة الأثاث المكتبي لجميع الشركات، الوزارات، والمنشآت الحكومية

						نحن في نفاذ نقدم لكم:
						•	أثاث مكتبي مميز: من المكاتب الإدارية، الكراسي المريحة، وطاولات الاجتماعات إلى الحلول المتكاملة التي تتناسب مع احتياجات عملكم.
						•	خدمة توريد سريعة: نوفر لك الأثاث الذي يناسب احتياجاتك مع سرعة في التوريد والتسليم.
						•	خدمة صيانة شاملة: نقدم صيانة دورية وحلول تصليح فورية لضمان استمرارية الأداء المثالي لأثاثك المكتبي.

						ابدأ في تجهيز بيئة عملك مع نفاذ واحصل على الأثاث الذي يعزز الإنتاجية والراحة.
						لمزيد من المعلومات أو لطلب استشارة، تواصل معنا الآن!
					</p>
					<p><a href="" class="btn btn-secondary ">تسوق الآن</a><a href="#" class="btn btn-white-outline me-2">استكشف</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap d-flex">
					<img src="~/Nafath/images/couch.png" class="img-fluid">
				</div>

			</div>
		</div>
	</div>
</div>

<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div lang="ar" dir="rtl" class="why-choose-section">
	<div class="container">


		<div class="row my-5">
			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/truck.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>شحن سريع ومجاني</h3>
					<p>نقدم خدمة شحن سريعة ومجانية لجميع الطلبات. نضمن وصول منتجاتك في الوقت المحدد وبحالة ممتازة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/bag.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>سهولة التسوق</h3>
					<p>تجربة تسوق سهلة ومريحة. تصفح منتجاتنا بسهولة واطلب ما تريد بنقرة واحدة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/support.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>دعم 24/7</h3>
					<p>فريق دعم متاح على مدار الساعة لمساعدتك في أي استفسار أو مشكلة تواجهها.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/return.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>إرجاع بدون مشاكل</h3>
					<p>سياسة إرجاع سهلة ومرنة. يمكنك إرجاع المنتج خلال 30 يوماً من الشراء.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/truck.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>شحن سريع ومجاني</h3>
					<p>نقدم خدمة شحن سريعة ومجانية لجميع الطلبات. نضمن وصول منتجاتك في الوقت المحدد وبحالة ممتازة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/bag.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>سهولة التسوق</h3>
					<p>تجربة تسوق سهلة ومريحة. تصفح منتجاتنا بسهولة واطلب ما تريد بنقرة واحدة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/support.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>دعم 24/7</h3>
					<p>فريق دعم متاح على مدار الساعة لمساعدتك في أي استفسار أو مشكلة تواجهها.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/return.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>إرجاع بدون مشاكل</h3>
					<p>سياسة إرجاع سهلة ومرنة. يمكنك إرجاع المنتج خلال 30 يوماً من الشراء.</p>
				</div>
			</div>

		</div>

	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start Product Section -->
<div lang="ar" dir="rtl" class="product-section pt-0">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">مصنوع بمواد ممتازة.</h2>
				<p class="mb-4">نستخدم أفضل المواد وأحدث التقنيات لضمان جودة عالية ومتانة طويلة الأمد لجميع منتجاتنا.</p>
				<p><a asp-controller="Chairs" asp-action="Index" class="btn">استكشف</a></p>
			</div>
			<!-- End Column 1 -->

			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="#">
					<img src="~/Nafath/images/Chair1.png" class="img-fluid product-thumbnail">
					<h3 class="product-title">كرسي نورديك</h3>
					<strong class="product-price">$50.00</strong>

					<span class="icon-cross">
						<img src="~/Nafath/images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="#">
					<img src="~/Nafath/images/Chair2.png" class="img-fluid product-thumbnail">
					<h3 class="product-title">كرسي كروزو إيرو</h3>
					<strong class="product-price">$78.00</strong>

					<span class="icon-cross">
						<img src="~/Nafath/images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item " href="#">
					<img src="~/Nafath/images/Chair3.png" class="img-fluid product-thumbnail cc" style=" width: 220px; ">
					<h3 class="product-title">كرسي إرغونوميك</h3>
					<strong class="product-price">$43.00</strong>

					<span class="icon-cross">
						<img src="~/Nafath/images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 4 -->

		</div>

	</div>
</div>
<!-- End Product Section -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">آراء العملاء</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;تجربتي مع نفاذ كانت ممتازة. المنتجات عالية الجودة والخدمة رائعة. أنصح الجميع بالتسوق من هنا.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/Nafath/images/person-1.png" alt="ماريا جونز" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">ماريا جونز</h3>
											<span class="position d-block mb-3">الرئيس التنفيذي، المؤسس المشارك، شركة XYZ</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;أفضل متجر أثاث صادفته. الأسعار معقولة والجودة ممتازة. سأعود بالتأكيد للشراء مرة أخرى.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/Nafath/images/person-1.png" alt="أحمد محمد" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">أحمد محمد</h3>
											<span class="position d-block mb-3">مدير التصميم، شركة ABC</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;خدمة عملاء ممتازة وشحن سريع. المنتجات وصلت في الوقت المحدد وبحالة ممتازة.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/Nafath/images/person-1.png" alt="فاطمة علي" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">فاطمة علي</h3>
											<span class="position d-block mb-3">مصممة داخلية، استوديو التصميم</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
