@* @{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notifications" />


<!-- Start Hero Section -->
<div lang="ar" dir="rtl" class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>شركة نفاذ لتوريد وبيع وصيانة الأثاث المكتبي</h1>
					<p class="mb-4">
						هل تبحث عن أثاث مكتبي عالي الجودة لبيئة عمل مريحة ومنظمة؟<br><br>

						شركة نفاذ تقدم لك الحلول المثالية لتوريد وبيع وصيانة الأثاث المكتبي لجميع الشركات، الوزارات، والمنشآت الحكومية

						نحن في نفاذ نقدم لكم:
						•	أثاث مكتبي مميز: من المكاتب الإدارية، الكراسي المريحة، وطاولات الاجتماعات إلى الحلول المتكاملة التي تتناسب مع احتياجات عملكم.
						•	خدمة توريد سريعة: نوفر لك الأثاث الذي يناسب احتياجاتك مع سرعة في التوريد والتسليم.
						•	خدمة صيانة شاملة: نقدم صيانة دورية وحلول تصليح فورية لضمان استمرارية الأداء المثالي لأثاثك المكتبي.

						ابدأ في تجهيز بيئة عملك مع نفاذ واحصل على الأثاث الذي يعزز الإنتاجية والراحة.
						لمزيد من المعلومات أو لطلب استشارة، تواصل معنا الآن!
					</p>
					<p><a href="" class="btn btn-secondary ">تسوق الآن</a><a href="#" class="btn btn-white-outline me-2">استكشف</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap d-flex">
					<img src="~/Nafath/images/Chair3.png" class="img-fluid">
				</div>

			</div>
		</div>
	</div>
</div>

<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div lang="ar" dir="rtl" class="why-choose-section">
	<div class="container">


		<div class="row my-5">
			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/truck.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>شحن سريع ومجاني</h3>
					<p>نقدم خدمة شحن سريعة ومجانية لجميع الطلبات. نضمن وصول منتجاتك في الوقت المحدد وبحالة ممتازة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/bag.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>سهولة التسوق</h3>
					<p>تجربة تسوق سهلة ومريحة. تصفح منتجاتنا بسهولة واطلب ما تريد بنقرة واحدة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/support.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>دعم 24/7</h3>
					<p>فريق دعم متاح على مدار الساعة لمساعدتك في أي استفسار أو مشكلة تواجهها.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/return.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>إرجاع بدون مشاكل</h3>
					<p>سياسة إرجاع سهلة ومرنة. يمكنك إرجاع المنتج خلال 30 يوماً من الشراء.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/truck.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>شحن سريع ومجاني</h3>
					<p>نقدم خدمة شحن سريعة ومجانية لجميع الطلبات. نضمن وصول منتجاتك في الوقت المحدد وبحالة ممتازة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/bag.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>سهولة التسوق</h3>
					<p>تجربة تسوق سهلة ومريحة. تصفح منتجاتنا بسهولة واطلب ما تريد بنقرة واحدة.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/support.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>دعم 24/7</h3>
					<p>فريق دعم متاح على مدار الساعة لمساعدتك في أي استفسار أو مشكلة تواجهها.</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/Nafath/images/return.svg" alt="صورة" class="imf-fluid">
					</div>
					<h3>إرجاع بدون مشاكل</h3>
					<p>سياسة إرجاع سهلة ومرنة. يمكنك إرجاع المنتج خلال 30 يوماً من الشراء.</p>
				</div>
			</div>

		</div>

	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start Product Section -->
<div lang="ar" dir="rtl" class="product-section pt-0">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">مصنوع بمواد ممتازة.</h2>
				<p class="mb-4">نستخدم أفضل المواد وأحدث التقنيات لضمان جودة عالية ومتانة طويلة الأمد لجميع منتجاتنا.</p>
				<p><a asp-controller="Chairs" asp-action="Index" class="btn">استكشف</a></p>
			</div>
			<!-- End Column 1 -->

			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="#">
					<img src="~/Nafath/images/Chair1.png" class="img-fluid product-thumbnail">
					<h3 class="product-title">كرسي نورديك</h3>
					<strong class="product-price">$50.00</strong>

					<span class="icon-cross">
						<img src="~/Nafath/images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="#">
					<img src="~/Nafath/images/Chair2.png" class="img-fluid product-thumbnail">
					<h3 class="product-title">كرسي كروزو إيرو</h3>
					<strong class="product-price">$78.00</strong>

					<span class="icon-cross">
						<img src="~/Nafath/images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item " href="#">
					<img src="~/Nafath/images/Chair3.png" class="img-fluid product-thumbnail cc" style=" width: 220px; ">
					<h3 class="product-title">كرسي إرغونوميك</h3>
					<strong class="product-price">$43.00</strong>

					<span class="icon-cross">
						<img src="~/Nafath/images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 4 -->

		</div>

	</div>
</div>
<!-- End Product Section -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">آراء العملاء</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;تجربتي مع نفاذ كانت ممتازة. المنتجات عالية الجودة والخدمة رائعة. أنصح الجميع بالتسوق من هنا.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/Nafath/images/person-1.png" alt="ماريا جونز" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">ماريا جونز</h3>
											<span class="position d-block mb-3">الرئيس التنفيذي، المؤسس المشارك، شركة XYZ</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;أفضل متجر أثاث صادفته. الأسعار معقولة والجودة ممتازة. سأعود بالتأكيد للشراء مرة أخرى.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/Nafath/images/person-1.png" alt="أحمد محمد" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">أحمد محمد</h3>
											<span class="position d-block mb-3">مدير التصميم، شركة ABC</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>&ldquo;خدمة عملاء ممتازة وشحن سريع. المنتجات وصلت في الوقت المحدد وبحالة ممتازة.&rdquo;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/Nafath/images/person-1.png" alt="فاطمة علي" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">فاطمة علي</h3>
											<span class="position d-block mb-3">مصممة داخلية، استوديو التصميم</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
 *@
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section" lang="ar" dir="rtl">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                    <h1>شركة نفاذ لتوريد وبيع وصيانة الأثاث المكتبي</h1>
                    <p>
                        هل تبحث عن أثاث مكتبي عالي الجودة لبيئة عمل مريحة ومنظمة؟<br><br>

                        شركة نفاذ تقدم لك الحلول المثالية لتوريد وبيع وصيانة الأثاث المكتبي لجميع الشركات، الوزارات، والمنشآت الحكومية

                        نحن في نفاذ نقدم لكم:
                        •	أثاث مكتبي مميز: من المكاتب الإدارية، الكراسي المريحة، وطاولات الاجتماعات إلى الحلول المتكاملة التي تتناسب مع احتياجات عملكم.
                        •	خدمة توريد سريعة: نوفر لك الأثاث الذي يناسب احتياجاتك مع سرعة في التوريد والتسليم.
                        •	خدمة صيانة شاملة: نقدم صيانة دورية وحلول تصليح فورية لضمان استمرارية الأداء المثالي لأثاثك المكتبي.

                        ابدأ في تجهيز بيئة عملك مع نفاذ واحصل على الأثاث الذي يعزز الإنتاجية والراحة.
                        لمزيد من المعلومات أو لطلب استشارة، تواصل معنا الآن!
                    </p>
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started">تسوق الآن</a>
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>استكشف</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
                    <img src="~/Nafath/images/Chair3.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->
    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-activity icon"></i></div>
                        <h4><a href="" class="stretched-link">شحن سريع ومجاني</a></h4>
                        <p>نقدم خدمة شحن سريعة ومجانية لجميع الطلبات. نضمن وصول منتجاتك في الوقت المحدد وبحالة ممتازة.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                        <h4><a href="" class="stretched-link">سهولة التسوق</a></h4>
                        <p>تجربة تسوق سهلة ومريحة. تصفح منتجاتنا بسهولة واطلب ما تريد بنقرة واحدة.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                        <h4><a href="" class="stretched-link">دعم مستمر</a></h4>
                        <p>فريقنا متواجد دائماً لدعمك والإجابة على جميع استفساراتك.</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Featured Services Section -->
    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>من نحن<br></span>
            <h2>من نحن</h2>
            <p>نحن ملتزمون بتقديم أفضل الحلول والخدمات لعملائنا الكرام.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/Nafas/assets/img/about.png" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                </div>
                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                    <h3>نحن نؤمن بالجودة والاحترافية في كل ما نقدمه.</h3>
                    <p class="fst-italic">
                        فريقنا يضم نخبة من الخبراء في مجال التصميم والتطوير لتقديم أفضل النتائج.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> <span>حلول مخصصة تناسب احتياجاتك.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>دعم فني متواصل على مدار الساعة.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>أسعار تنافسية وجودة عالية في جميع الخدمات.</span></li>
                    </ul>
                    <p>
                        نسعى دائماً لتحقيق رضا عملائنا من خلال تقديم خدمات متكاملة واحترافية.
                    </p>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Stats Section -->
    <section id="stats" class="stats section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p>عملاء</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p>مشاريع</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                        <p>ساعات دعم</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                        <p>موظفون</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>

    </section><!-- /Stats Section -->
    <!-- Services Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>الخدمات</span>
            <h2>الخدمات</h2>
            <p>نقدم مجموعة واسعة من الخدمات لتلبية جميع احتياجاتك.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <a href="service-details.html" class="stretched-link">
                            <h3>تصميم احترافي</h3>
                        </a>
                        <p>نصمم مواقع عصرية وجذابة تلبي تطلعاتك.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <a href="service-details.html" class="stretched-link">
                            <h3>تطوير متكامل</h3>
                        </a>
                        <p>نطور حلولاً تقنية متقدمة تناسب أعمالك.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <a href="service-details.html" class="stretched-link">
                            <h3>دعم فني</h3>
                        </a>
                        <p>دعم فني متواصل لضمان استمرارية عملك.</p>
                    </div>
                </div><!-- End Service Item -->
                <!-- يمكنك إضافة المزيد من الخدمات هنا -->

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>أعمالنا</span>
            <h2>أعمالنا</h2>
            <p>تعرف على بعض من مشاريعنا المميزة.</p>
        </div><!-- End Section Title -->
        <!-- ... بقية القسم ... -->

    </section><!-- /Portfolio Section -->
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>آراء العملاء</span>
            <h2>آراء العملاء</h2>
            <p>آراء عملائنا تعكس جودة خدماتنا ورضاهم عن تجربتهم معنا.</p>
        </div><!-- End Section Title -->
        <!-- ... بقية القسم ... -->

    </section><!-- /Testimonials Section -->
    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section accent-background">

        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-10">
                    <div class="text-center">
                        <h3>دعوة لاتخاذ إجراء</h3>
                        <p>انضم إلينا اليوم واستفد من خدماتنا المميزة.</p>
                        <a class="cta-btn" href="#">انضم الآن</a>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- /Call To Action Section -->
    <!-- Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>فريق العمل</span>
            <h2>فريق العمل</h2>
            <p>تعرف على فريقنا المحترف الذي يقف خلف نجاحنا.</p>
        </div><!-- End Section Title -->
        <!-- ... بقية القسم ... -->

    </section><!-- /Team Section -->
    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>تواصل معنا</span>
            <h2>تواصل معنا</h2>
            <p>نحن هنا للإجابة على جميع استفساراتك وتقديم الدعم اللازم.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-5">

                    <div class="info-wrap">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>العنوان</h3>
                                <p>شارع آدم 108، نيويورك، NY 535022</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>اتصل بنا</h3>
                                <p>+1 5589 55488 55</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>راسلنا</h3>
                                <p>info@example.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-lg-7">
                    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <label for="name-field" class="pb-2">اسمك</label>
                                <input type="text" name="name" id="name-field" class="form-control" required="">
                            </div>

                            <div class="col-md-6">
                                <label for="email-field" class="pb-2">البريد الإلكتروني</label>
                                <input type="email" class="form-control" name="email" id="email-field" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="subject-field" class="pb-2">الموضوع</label>
                                <input type="text" class="form-control" name="subject" id="subject-field" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="message-field" class="pb-2">رسالتك</label>
                                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">جاري الإرسال...</div>
                                <div class="error-message"></div>
                                <div class="sent-message">تم إرسال رسالتك. شكراً لتواصلك معنا!</div>

                                <button type="submit">إرسال الرسالة</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>