@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_Notifications" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="iq-edit-list usr-edit">
                        <ul class="iq-edit-profile d-flex nav nav-pills">
                            <li class="col-md-5 p-0">
                                <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                    Personal Information
                                </a>
                            </li>
                            <li class="col-md-5 p-0">
                                <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                    Change Password
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="iq-edit-list-data">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Personal Information</h4>
                                </div>
                            </div>
                            <div class="card-body">

                                @* Update Detils *@
                                <form id="profile-form" method="post" enctype="multipart/form-data" asp-page-handler="Profile">
                                    @Html.AntiForgeryToken()
                                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                                    <div class="row">
                                        <div class="col-md-12 text-center mb-4">
                                            <div class="crm-profile-img-edit position-relative d-inline-block">
                                                <img id="avatar-preview"
                                                     class="crm-profile-pic rounded-circle avatar-100"
                                                     src="@(Url.Content(Model.Input.AvatarUrl ?? "~/assets/images/user/11.png"))"
                                                     alt="profile-pic" />
                                                <div class="crm-p-image bg-primary position-absolute top-0 end-0 rounded-circle p-2">
                                                    <i class="las la-pen upload-button text-white"></i>
                                                    <input asp-for="Input.AvatarFile"
                                                           class="file-upload"
                                                           type="file"
                                                           accept="image/*" />
                                            <input type="hidden" asp-for="Input.AvatarUrl" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.FullName"></label>
                                            <input asp-for="Input.FullName" class="form-control" placeholder="First Name" />
                                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.LastName"></label>
                                            <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.UserName"></label>
                                            <input asp-for="Input.UserName" class="form-control" disabled />
                                            <input type="hidden" asp-for="Input.UserName" />
                                        </div>

                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.PhoneNumber"></label>
                                            <input asp-for="Input.PhoneNumber" class="form-control" />
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <!-- City -->
                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.City"></label>
                                            <input asp-for="Input.City" class="form-control" placeholder="City" />
                                            <span asp-validation-for="Input.City" class="text-danger"></span>
                                        </div>

                                        <!-- Gender -->
                                        <fieldset class="form-group col-sm-6 mb-3">
                                            <legend class="col-form-label mb-2">Gender</legend>
                                            <div class="form-check form-check-inline">
                                                <input asp-for="Input.Gender" class="form-check-input" type="radio" value="Male" />
                                                <label class="form-check-label">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input asp-for="Input.Gender" class="form-check-input" type="radio" value="Female" />
                                                <label class="form-check-label">Female</label>
                                            </div>
                                            <span asp-validation-for="Input.Gender" class="text-danger d-block"></span>
                                        </fieldset>

                                        <!-- Date of Birth -->
                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.DateOfBirth"></label>
                                            <input asp-for="Input.DateOfBirth" class="form-control" type="date" />
                                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                        </div>

                                        <!-- Marital Status -->
                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.MaritalStatus"></label>
                                            <select asp-for="Input.MaritalStatus" class="form-control">
                                                <option value="">-- select status --</option>
                                                <option>Single</option>
                                                <option>Married</option>
                                                <option>Widowed</option>
                                                <option>Divorced</option>
                                                <option>Separated</option>
                                            </select>
                                            <span asp-validation-for="Input.MaritalStatus" class="text-danger"></span>
                                        </div>

                                        <!-- Age Range -->
                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.AgeRange"></label>
                                            <select asp-for="Input.AgeRange" class="form-control">
                                                <option>12-18</option>
                                                <option>19-32</option>
                                                <option>33-45</option>
                                                <option>46-62</option>
                                                <option>63+</option>
                                            </select>
                                            <span asp-validation-for="Input.AgeRange" class="text-danger"></span>
                                        </div>

                                        <!-- Country -->
                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.Country"></label>
                                            <select asp-for="Input.Country" class="form-control">
                                                <option>Canada</option>
                                                <option>Noida</option>
                                                <option>USA</option>
                                                <option>India</option>
                                                <option>Africa</option>
                                            </select>
                                            <span asp-validation-for="Input.Country" class="text-danger"></span>
                                        </div>

                                        <!-- State -->
                                        <div class="form-group col-sm-6 mb-3">
                                            <label asp-for="Input.State"></label>
                                            <select asp-for="Input.State" class="form-control">
                                                <option>California</option>
                                                <option>Florida</option>
                                                <option>Georgia</option>
                                                <option>Connecticut</option>
                                                <option>Louisiana</option>
                                            </select>
                                            <span asp-validation-for="Input.State" class="text-danger"></span>
                                        </div>

                                        <!-- Address -->
                                        <div class="form-group col-sm-12 mb-3">
                                            <label asp-for="Input.Address"></label>
                                            <textarea asp-for="Input.Address"
                                                      class="form-control"
                                                      rows="5"
                                                      placeholder="Address"></textarea>
                                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                                        </div>

                                       
                                    </div>

                                    <button type="submit" class="btn btn-primary mr-2">Save Profile</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Change Password</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                @* Update Passowrds *@

                                <form id="profile-form" method="post" enctype="multipart/form-data" asp-page-handler="Password">
                                    @Html.AntiForgeryToken()
                                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                                    <div class="form-group col-sm-6 mb-3">
                                        <label asp-for="Input.CurrentPassword"></label>
                                        <input asp-for="Input.CurrentPassword" class="form-control" />
                                        <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6 mb-3">
                                        <label asp-for="Input.NewPassword"></label>
                                        <input asp-for="Input.NewPassword" class="form-control" />
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6 mb-3">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Save Profile & Password</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // 1) When the user clicks the pencil icon, open the real file-input:
        document
          .querySelector('.upload-button')
          .addEventListener('click', () => {
            document.querySelector('.file-upload').click();
          });

        // 2) When they actually choose a file, show a preview:
        document
          .querySelector('.file-upload')
          .addEventListener('change', function () {
            const file = this.files[0];
            if (!file) return;

            const reader = new FileReader();
            reader.onload = function (e) {
              document
                .getElementById('avatar-preview')
                .setAttribute('src', e.target.result);
            };
            reader.readAsDataURL(file);
          });
    </script>
}
