@using Domin.Entity

@inject Infrastructure.IRepository.Base.IRepository<ProductType> TypeRepo

@{
     // هنا تجيب الأنواع مباشرة
    var productTypes = await TypeRepo.FindAllasync();
    var product = ViewBag.ProductTypes as IEnumerable<Domin.Entity.ProductType>;
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="linear-gradient(to bottom, #61daff, #656bff)">
    <meta name="description" content="We will simple add to cart using javascript localstorage">
    <meta name="keywords" content="add to cart, add to cart javascript, localstorage add to cart, ecommerce shopping javascript, shooping cart demo">
    <meta name="author" content="Rajamanickam">

   

	<title>Nafath </title>


    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="~/Nafas/assets/images/logoo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet"integrity="sha384-ENjdO4Dr2bkBIFxQpeoA6VjtqW1WfCjKk+6TzS3mI5jI4Q5XVJ0Q5a0Q5a0Q5a0Q" crossorigin="anonymous"/>
    <!-- Vendor CSS Files -->
    <link href="~/Nafas/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Nafas/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Nafas/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Nafas/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Nafas/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Nafas/assets/css/backend-plugin.min.css">
    <link rel="stylesheet" href="~/Nafas/assets/css/backend.css?v=1.0.0">
    <link rel="stylesheet" href="~/Nafas/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Nafas/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/Nafas/assets/vendor/remixicon/fonts/remixicon.css">
    <!-- Main CSS File -->
    <link href="~/Nafas/assets/css/style.css" rel="stylesheet">
  
    <link href="~/Nafas/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

    <header id="header" class="header d-flex sticky-top ">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a asp-area ="" asp-controller="Home" asp-action="Index" class="logo d-flex ">
                <img src="~/Nafas/assets/images/logoo.png" alt="">
            </a>

            <nav id="navmenu" class="collapse navbar-collapse  navmenu">
                <ul>
                    <li class="nav-item active">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link ">الرئيسية</a>
                    </li>

              
                    <li class="dropdown">
                        <a href="#">
                        <span>المتجر</span>
                        <i class="bi bi-chevron-down toggle-dropdown"></i>
                        </a>
                        <ul>
                            @foreach(var type in productTypes)
                            {
                                <li>
                                    <a asp-controller="Products"
                                        asp-action="Index"
                                        asp-route-typeId="@type.Id">
                                        @type.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li><a class="nav-link" href="about.html">من نحن</a></li>
                    <li class=""><a class="nav-link" href="services.html">الخدمات</a></li>
                    <li><a class="nav-link" href="blog.html">المدونة</a></li>
                    <li><a class="nav-link" href="contact.html">اتصل بنا</a></li>
                    <li class="dropdown">
                        <a href="#"><span>المزيد</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#">رابط 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>قائمة فرعية</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">عنصر فرعي 1</a></li>
                                    <li><a href="#">عنصر فرعي 2</a></li>
                                    <li><a href="#">عنصر فرعي 3</a></li>
                                    <li><a href="#">عنصر فرعي 4</a></li>
                                    <li><a href="#">عنصر فرعي 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">رابط 2</a></li>
                            <li><a href="#">رابط 3</a></li>
                            <li><a href="#">رابط 4</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">اتصل بنا</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
               
            </nav>

     
            <!-- CART MODAL -->
            <div class="modal fade " id="cartModal"
                 data-bs-backdrop="false"
                 tabindex="1" aria-labelledby="cartModalLabel" aria-hidden="false" >
                <div class="modal-dialog modal-dialog-centered modal-lg" >
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            <h5 id="cartModalLabel"class="ms-auto">سلة المشتريات</h5>
                        </div>
                        <div class="modal-body" >
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>المنتج</th>
                                            <th>السعر</th>
                                            <th>الكمية</th>
                                            <th>السعر الكلي</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="cart-items">
                                        <!-- Cart items will be populated here -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end mt-4">
                                <h4 style="color:#6a6a6a">
                                    المبلغ الكلي: <span class="total-cart">0.00</span> EGP
                                </h4>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">متابعة الشراء</button>
                            <button type="button" class="btn btn-danger clear-cart">تفريغ</button>
                            <button type="button" class="btn btn-primary complete-order">اتمام الشراء</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- LOGIN MODAL -->
            <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModalLabel">تسجيل الدخول</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <partial name="_LoginPartial" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <ul class="navbar-nav flex-row align-items-center iconNav">
            <!-- User Icon Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        var imgUrl = string.IsNullOrEmpty(currentUser.AvatarUrl)
                            ? "~/assets/images/user/11.png"
                            : currentUser.AvatarUrl;

                        <img src="@(Url.Content(imgUrl))"
                                alt="Profile"
                                class="rounded-circle"
                                style="width:50px;height:50px;" />
                    }
                    else
                    {
                        <i class="bi bi-person-circle fs-4"></i>
                    }

                   
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <!-- هنا ضع خيارات المستخدم أو partial login -->
                    <partial name="_LoginPartial" />
                </ul>
            </li>

            <!-- Cart Icon Modal Trigger -->

            <li class="nav-item">
                <a class="nav-link position-relative" data-bs-toggle="modal" data-bs-target="#cartModal">
                    <i class="bi bi-cart3 fs-4"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cart-badge">0</span>
                </a>
            </li>
        </ul>
    </header>

    @RenderBody()

    <footer id="footer" class="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-6">
                        <h4>اشترك في النشرة الإخبارية</h4>
                        <p>اشترك في نشرتنا الإخبارية وتلق أحدث الأخبار حول منتجاتنا وخدماتنا!</p>
                        <form action="forms/newsletter.php" method="post" class="php-email-form">
                            <div class="newsletter-form"><input type="email" name="email" placeholder="البريد الإلكتروني"><input type="submit" value="اشترك"></div>
                            <div class="loading">جاري التحميل</div>
                            <div class="error-message"></div>
                            <div class="sent-message">تم إرسال طلب الاشتراك. شكراً لك!</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex ">
                        <img src="~/Nafas/assets/images/logoo.png" class="w-25" alt="">
                        <h1 class="sitename">نفاذ</h1>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>شارع آدم 108</p>
                        <p>نيويورك، NY 535022</p>
                        <p class="mt-3"><strong>الهاتف:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>البريد الإلكتروني:</strong> <span>info@example.com</span></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>روابط مفيدة</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">الرئيسية</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">من نحن</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">الخدمات</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">الشروط والأحكام</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>خدماتنا</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">تصميم المواقع</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">تطوير المواقع</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">إدارة المنتجات</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">التسويق</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h4>تابعنا</h4>
                    <p>تابعنا على وسائل التواصل الاجتماعي للحصول على آخر التحديثات.</p>
                    <div class="social-links d-flex">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>حقوق النشر</span> <strong class="px-1 sitename">eNno</strong> <span>جميع الحقوق محفوظة</span></p>
            <div class="credits">
                تم التصميم بواسطة <a href="https://bootstrapmade.com/">BootstrapMade</a> التوزيع بواسطة <a href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Bootstrap JS (requires Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz5vG6srpKbZ1jgCK9XOnW5Z6QtdfQIjG5E74rN5QZK/EHQJ1VjHLj2w8P" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-QFhZmnv1AePj3trwKgQm+7vX/6yD+XwNm+1j5z5Q5a0Q5a0Q5a0Q5a0Q5a0Q5a0Q" crossorigin="anonymous" ></script>

    <script>
    const cartModal = document.getElementById('cartModal');
    cartModal.addEventListener('show.bs.modal', () => {
        document.querySelector('.main-content').classList.add('blurred');
    });
    cartModal.addEventListener('hidden.bs.modal', () => {
        document.querySelector('.main-content').classList.remove('blurred');
    });
    </script>
    <!-- Vendor JS Files -->
    <script src="~/Nafas/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Nafas/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Nafas/assets/vendor/aos/aos.js"></script>
    <script src="~/Nafas/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Nafas/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Nafas/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Nafas/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Nafas/assets/vendor/swiper/swiper-bundle.min.js"></script>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- BEFORE you ever include cart.js: -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha384‑…"
                crossorigin="anonymous"></script>

        <!-- 1. SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <!-- 2. jQuery -->
        <!-- 3. cart.js (واحد فقط!) -->
        <script src="~/Nafas/assets/js/cart.js"></script>

        <!-- 5. main.js -->
        <script src="~/Nafas/assets/js/main.js"></script>

    }
    else
    {
        <script>
            $(function () {
                const $tbody = $('.cart-items');
                function render() {
                    $tbody.html('<tr><td colspan="5" class="text-center">Your cart is empty</td></tr>');
                }
                render();
            });
        </script>
    }

    <!-- Main JS File -->
    <script src="~/Nafas/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>